<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { title: 'Error' }) %>

  <body>
    <%- include('partials/navbar.ejs') %>
      <div class="error-message">
        <h1>We have encountered an error</h1>
        <p>Message:</p>
        <p>
          <%= message %>
        </p>
        <p>Maybe you would like to visit the
          <a href="/">User Filter page</a>
        </p>
      </div>
  </body>

</html>